.minivideo {
    width: 280px;

    padding: 0.5rem;
    margin: 2rem auto;

    &:hover {
        cursor: pointer;
        background-color: $dark;

        a {
            color: $light;
        }
    }

    a {
        color: $dark;
    }

    p {
        font-size: 1rem;
        text-align: center;
    }
}