h1 {
    display: inline;
    font: {
        family: 'Oswald';
        size: 1.8rem;
        weight: 200;

    }
    text-transform: uppercase;
    margin: 0 0 0 1.5rem;
}
.menu {
    background-color: $background !important;
    a {
        font: {
            family: 'Oswald';
        }
        text-transform: uppercase;
        margin: 0 1rem;
    }
}