@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
h1 {
  display: inline;
  font-family: "Oswald";
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0 0 0 1.5rem;
}

.menu {
  background-color: hsl(0, 0%, 21%) !important;
}
.menu a {
  font-family: "Oswald";
  text-transform: uppercase;
  margin: 0 1rem;
}

footer {
  background-color: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 90%);
  text-align: center;
  padding-bottom: 1rem;
}

.footer-connect {
  padding: 1rem 0;
}
.footer-connect a {
  color: hsl(0, 0%, 90%);
  font-size: 2rem;
}
.footer-connect a:hover {
  color: hsl(0, 0%, 70%);
}

.contact-banner {
  background-color: hsl(0, 0%, 21%);
  padding: 1rem;
}
.contact-banner a {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
  margin: 0 1rem;
  font-size: 1.2rem;
}
.contact-banner a:hover {
  color: hsl(0, 0%, 70%);
}

.press {
  padding: 1rem 2rem;
}

.author {
  float: right;
  text-decoration: none;
  color: hsl(0, 0%, 21%);
}
.author:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 15%);
}

.minivideo {
  width: 280px;
  padding: 0.5rem;
  margin: 2rem auto;
}
.minivideo:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 21%);
}
.minivideo:hover a {
  color: hsl(0, 0%, 90%);
}
.minivideo a {
  color: hsl(0, 0%, 21%);
}
.minivideo p {
  font-size: 1rem;
  text-align: center;
}

.contact {
  padding: 1rem 2rem;
}
.contact a {
  display: block;
  margin: 1rem 0;
  width: 7rem;
  text-decoration: none;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.wbutton {
  display: block;
  margin: 1rem auto;
  background-color: green;
  box-sizing: border-box;
  border-radius: 25px;
  width: max-content;
  color: white;
  padding: 5px 21px;
}
.wbutton:hover {
  background-color: rgb(1, 59, 1);
}

.center-text {
  text-align: center;
  margin-bottom: 1rem;
}

.qrcode {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.text-alone-center {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 100 px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px grey;
}

hr {
  margin: 1.5rem 0;
  box-shadow: 0px 0px 5px grey;
}

cite {
  display: block;
  width: 100%;
  text-align: end;
}

.lighthighlight {
  font-weight: 500;
}

.servicelist {
  display: block;
  margin: 1.5rem auto 1rem auto;
  text-align: center;
  list-style: none;
  padding-left: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 95%);
}

main {
  padding-top: 1.7rem;
}

.page-title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.date {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.section {
  padding: 1.5rem 1rem;
}

.button {
  display: inline-block;
  color: hsl(0, 0%, 21%);
  text-decoration: none;
  padding: 0.5rem;
  border: 1px hsl(0, 0%, 21%) solid;
  border-radius: 10px;
  margin: 1rem 1rem 1rem 0;
}
.button:hover {
  box-shadow: inset 0 1px 3px hsl(0, 0%, 21%);
}

.eventlist {
  border-bottom: 1px solid hsl(0, 0%, 21%);
  padding: 1rem;
}

.credits {
  font-weight: 200;
}

.thumbn {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

.separator {
  display: block;
  margin: 0.5rem auto;
  min-width: 200px;
  width: 50%;
}
.separator hr {
  height: 1px;
  background-color: hsl(0, 0%, 95%);
  background: radial-gradient(hsl(0, 0%, 21%), hsl(0, 0%, 95%));
  border: 0;
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
